body {
    margin-top: 100px;
    background: #1f2022; 
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;;
}

.login-link {
    color: white;
    text-decoration: none;
}

nav {

}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
nav ul li {
    padding-right: 1em;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
}
nav ul li a:hover {
    text-decoration: none;
    color: #ffffff;
}

.posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.posts ul li {
    background: #333333;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
}

.posts ul li a {
    color: #0080ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
}

.small-font {
    font-size: 0.9em;
}

#back-btn {
    text-decoration: none;
    color: #0080ff;
}

#post-btn {
    padding: 15px 32px;
    background-color: cornflowerblue;
}


#article-section {
    display: block;
    background: #353535;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
}