body {
    margin-top: 100px;
    background: #1f2022; 
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;;
    padding-left: 20em;
    padding-right: 20em;
}

.login-link {
    color: white;
    text-decoration: none;
}

.user-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
}
.user-navigation li a{
    color: #8B8C8D;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
nav ul li {
    padding-right: 1em;
}
li a {
    text-decoration: none;
    color: #ffffff;
}
li a:hover {
    text-decoration: none;
    color: #ffffff;
}

.posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.posts ul li {
    background: #333333;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.posts ul li a {
    color: #0080ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
}

.small-font {
    font-size: 0.9em;
}

#back-btn {
    display: flex;
    justify-content: center;
    align-items: center;;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    background-color: #0080ff;
    width: 80px;
    height: 30px;
}
#back-btn a {
    text-decoration: none;
    color: white;
}

#post-btn {
    padding: 15px 32px;
    background-color: cornflowerblue;
}


#article-section {
    display: block;
    background: #353535;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
}