body {
    margin-top: 100px;
    color: #1f2022; 
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;;
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;
}

nav {
    margin-bottom: 2em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    padding-right: 1em;
}

li a {
    text-decoration: none;
    color: black;
}
li a:hover {
    text-decoration: underline;
    color: black;
}

.posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.posts ul li {
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.posts ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5em;
}
.posts ul li a:hover {
    color: #5C7AEA;
}

.post-title{
    font-family: 'Oswald', sans-serif;
}

.date {
    font-size: 0.9em;
    font-style: italic;
    color: grey;
}

#back-btn {
    display: flex;
    justify-content: center;
    align-items: center;;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    background-color: #5C7AEA;
    width: 80px;
    height: 30px;
}
#back-btn a {
    text-decoration: none;
    color: white;
}

#post-btn {
    padding: 15px 32px;
    background-color: cornflowerblue;
}

#article-section {
    display: block;
    padding: 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 480px) {
    .posts ul li a {
        font-size: 2em;
    }
}