{% extends 'base.html' %}

{% block title %} {{ post.title}} {% endblock %}

{% block content %}
<button id="back-btn" style="margin-top:1em;"><a href="{% url 'home' %}">Back</a></button>
<br/>
{{ post.title_tag }} <br/>

<h1>{{ post.title }} </h1>
<small style="font-weight: bold;">By: {{ post.author.first_name }} {{ post.author.last_name }}</small> <br/> 
<span style="font-size: small;">Last updated: {{ post.last_modified }}</span> <br/>
{% if user.is_authenticated %}
<small><a href="{% url 'update-post' post.pk %}">(Edit)</a></small>
<small><a href="{% url 'delete-post' post.pk %}">(Delete)</a></small>
{% endif %}
<hr>
<span id="article-section">
    {{ post.body|safe }}
</span>


<br/>
<button id="back-btn"><a href="{% url 'home' %}">Back</a></button>

<br/>

{% endblock %}