{% extends 'base.html' %}

{% block title %} {{ post.title}} {% endblock %}

{% block content %}

{{ post.title_tag }} <br/>

<h1>{{ post.title }} </h1>
<small style="font-weight: bold;">BY: {{ post.author.first_name }} {{ post.author.last_name }}</small> <br/> 
<span style="font-size: small;">Last updated: {{ post.last_modified }}</span> <br/>
<small><a href="{% url 'update-post' post.pk %}">(Edit)</a></small>
<small><a href="{% url 'delete-post' post.pk %}">(Delete)</a></small>
<hr>
<span id="article-section">
    {{ post.body }}
</span>


<br/><br/>
<a href="{% url 'home' %}" id="back-btn">Back</a>

{% endblock %}